<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST">
  <%= auth_token %>

  <label>
    Email
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </label>
  <br/>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>
  <br/>

  <input type="submit" value="Sign in!">
</form>
<%= button_to "Demo User Sign In", {controller: "sessions", action: "create", user: {email: "demo@demo.com", password: "password"}}%>
